@import "vendor/normalize.css";
@import "vendor/fonts.css";
.page {
  background-color: #2A2C2F;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page__section {
  padding: 0 48px;
  box-sizing: border-box;
  margin: 0;

}

.logo {
  width: 176px;
  height: 52px;
}

.lang {
  display: flex;
  flex-direction: row;
}

.lang__item {
  list-style: none;
  margin-right: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
}

.lang__item-link {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.7s ease-in-out;
}

.lang__item-link--active {
  text-decoration: underline;
}

.lang__item-link:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}


.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__section__narrow {
  max-width: 1080px;
  margin: 56px 148px;
}

.lead__title {
  height: 200px;
  width: 720px;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0;
  padding: 0 132px;
  color: #FFFFFF;
}

.lead__subtitle {
  height: 72px;
  width: 640px;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 172px;
  margin-left: 172px;
  margin-top: 32px;
  right: 320px;
  margin-bottom: 0px;
}

.lead__photo {
  height: 615px;
  width: 984px;
  left: 148px;
  margin-top: 64px;
  border-radius: 0px;
  margin-bottom: 0px;

}

.lead__caption {
  height: 22px;
  width: 158px;
  margin-left: 0px;
  margin-top: 8px;
  margin-right: 826px;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #FFFFFF;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 1184px;
  margin: 0 ;
  padding-left: 148px;

}

.page__section__text {
  padding-right: 442px;
  padding-top: 36px;
}

.intro__title {
  height: 58px;
  width: 690px;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  color: #FFFFFF;

}

.intro__subtitle {
  max-width: 690px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
  margin-top: 40px;
  color: #FFFFFF;
}

.intro__list {
  list-style: none;
  height: 90px;
  width: 690px;
  margin: 33px 0 0;
  padding: 0;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #FFFFFF;

}

.photo-grid {
margin: 0;
  padding-top: 92px;

}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  grid-gap: 16px;
  margin: 0;
  padding: 0;
}

.photo {
  height: 213px;
  width: 284px;
}

.places {
  max-width: 1184px;
  padding: 92px 148px 12px;
}

.place {
  max-width: 984px;
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
  grid-gap: 48px 40px;
  overflow: hidden;


}

.place__title {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.place-image {
  width: 100%;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  height: 12px;
  width: 456px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #AAAAAA;

}

.place__link {
  height: 22px;
  width: 456px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  transition: opacity 0.7s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraphs {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  align-self: start;
}

.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
}




.cover {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0;

}

.cover__photo {
  width: 100%;


}

.cover__overlay {
  position: absolute;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
}

.cover__overlay:hover {
  opacity: 30%;
}

.cover__links {
  position: absolute;
  width: 560px;
  text-align: center;
}

.cover__title {

  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  color: #FFFFFF;

}

.cover__subtitle {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}

.cover__links {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 24px;

}

.footer__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  margin-right: 18px;
  margin-left: 0;
  padding: 0;
}

.footer__link:last-child {
  margin: 0;
}

.footer__link__item {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  list-style: none;
  text-decoration: none;
  transition: opacity 0.7s ease-in-out;
}



.footer__link__item:hover {
  opacity: 0.5;
}
.footer__copyright {
  height: 16px;
  width: 186px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
