.place__link {
  margin: 0;
  color: #FFFFFF;
  transition: 0.7s opacity;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__link:hover {
  opacity: 0.6;
}
