.cover__title {
  position: relative;
  display: block;
  color: #FFFFFF;
  margin: 0 auto;
  width: 560px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  transition: 0.7s opacity;
}

@media screen and (max-width: 767px) {
  .cover__title {
    padding-top: 33px;
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
