.cover__item {
  position: relative;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  z-index: 1;
}

.cover__item::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s opacity;
}

.cover__item:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__item {
    min-height: 600px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__item {
    min-height: 440px;
  }
}

@media screen and (max-width: 767px) {
  .cover__item {
    min-height: 190px;
    padding: 5px;
  }
}
